@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
  }
body{
  background-attachment: fixed;
  background-color:hsla(241,46%,16%,1);
  background-image:
  radial-gradient(at 18% 100%, hsla(277,100%,50%,0.3) 0px, transparent 50%),
  radial-gradient(at 100% 0%, hsla(240,46%,16%,1) 0px, transparent 50%),
  radial-gradient(at 68% 66%, hsla(256,100%,28%,0.62) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(271,100%,50%,0.36) 0px, transparent 50%);
}
body::-webkit-scrollbar {
  width: 0.7em;
}
 
body::-webkit-scrollbar-track {
background-color: transparent;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(103, 58, 183);
  border-radius: 100px;
}
  @layer components {

    .contactInput {
      @apply outline-none bg-transparent rounded-3xl w-[100%] px-6 py-4 border-white border-2 placeholder-white
       hover:border-primary duration-300

      }
    .card{
          @apply flex flex-col backdrop-brightness-75 border-b-4 border-primary rounded-3xl overflow-hidden duration-300
        }
    .card-active {
          @apply flex flex-col shadow-[rgba(32,_10,_77,_0.8)_0px_2px_20px] duration-300
        }

  }


